/* DA | Umschulung zum Fachinformatiker AE | Projekt Sakura
Stylesheet für die Webseite
main.css
wird in style.css per @import eingebunden */

/* Gestaltung des Main-Bereichs */

/* Gestaltung der Schrifte */
/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('/../../Assets/Cristian/Fonts/palanquin-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
    src: url('../../Assets/Cristian/Fonts/palanquin-v17-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    src: url('../../Assets/Cristian/Fonts/palanquin-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
main {
    max-width: 1200px;
    margin: 80px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 50px;
}

.intro-article {
    flex: 3;
}

.intro-article>h1 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 64px;
    color: var(--yellow);
    line-height: 1.1;
}

.intro-article>h2 {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: 40px;
    color: var(--dark-green);
}

.intro-article>p {
    font-family: Palanquin;
    font-size: 28px;
    line-height: 1.4;
    color: rgba(84, 55, 13, 1);
    
    margin-bottom: 40px;
}
.meta-info{
    font-family: Palanquin;
    font-size: 16px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
    background-color: var(--light-green);
    border-radius: 30px;
    height: fit-content;
    text-align: center;
    width: 272px;
}
.about-me > img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.about-me h3,
.about-me p {
    font-family: 'Palanquin';
    font-size: 16px;
}

.role {
    font-weight: normal;
}

.meta-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date,
.time,
.read,
.shared {
    display: flex;
    align-items: center;
    gap: 5px;
}

article p, .highlights, .tipps, .share{
    line-height: 1.4;
    font-family: 'Palanquin';
    font-size: 24px;
}
.tipps h3{
    font-family: 'Palanquin';
    font-size: 28px;
}
figure {
    display: flex;
    justify-content: center;
    padding: 90px 0px;
}
video {
    border-radius: 40px;
}
figure + p, .highlights{
    margin-bottom: 30px;
}
.highlights ul{
    list-style-type: disc;
    padding-left: 30px;
}
.highlights li::marker {
    font-size: 10px;
}
.highlights + p{
    margin-bottom: 150px;
}
.tipps{
    margin: 0px 35px 90px 85px;
    padding: 20px 16px;
    background-color: var(--light-green);
    border-radius: 30px;
    position: relative;
}
.title-tipps{
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    position: absolute;
    top: -45px;
    left: -80px;
    background-color: var(--dark-green);
    color: var(--yellow);
    transform: rotate(-20deg);
}
.useful-link{
    color: var(--dark-green);
    font-weight: bold;
}
.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 490px;
    height: 150px;
}
.share p{
    text-align: center;
}
.share-links-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hover-links{
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--dark-green);
    display: none;
}
.hover-links a{
    font-family: 'Arima';
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-green);

    text-decoration-line: underline;
}
.hover-links a:active{
    font-weight: 700;
}
.share-link-container{
    background-color: var(--dark-green);
    border-radius: 30px;
    padding: 10px 24px;

    display: flex;
    gap: 10px;
    align-items: center;
}
.share-link-container a {
    font-family: Arima;
    font-size: 24px;
    font-weight: bold;
    color: var(--yellow);

    cursor: pointer;
}
.hover-share-icon-two{
    width: 24px;
    height: 27px;
    display: none;
}

.share-links-wrapper:hover .hover-share-icon-one{
    display: none;
}
.share-links-wrapper:hover .hover-links,
.share-links-wrapper:hover .hover-share-icon-two{
    display: flex;
}
.share > p{
    position: relative;
}
.share-pfeil-icon{
    position: absolute;
    left: -45px;
    bottom: -75px;
}
