/* DA | Umschulung zum Fachinformatiker AE | Projekt Sakura
Stylesheet für die Webseite
main.css
wird in style.css per @import eingebunden */

/* Gestaltung des Main-Bereichs */

/* Gestaltung der Schrifte */
/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('/../../Assets/Cristian/Fonts/palanquin-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
    src: url('../../Assets/Cristian/Fonts/palanquin-v17-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    src: url('../../Assets/Cristian/Fonts/palanquin-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.author-div h3,
.author-div p 
{
    font-family: 'Palanquin';
    font-size: 16px;
}
.role{
    font-weight: normal;
}

.article-header {
    background-color: white;
    display: block;
}

.header-h2 {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: 40px;
    color: var(--dark-green);
}

.header-h1 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 64px;
    color: var(--yellow);
}

.header-h1+p {
    font-size: 28px;

}

p {
    font-family: 'Palanquin';
    font-size: 24px;
}

.text-ul {
    font-family: 'Palanquin';
    font-size: 24px;
}

.tipps-list, .useful-link {
    font-family: 'Palanquin';
    font-size: 24px;
}

.tile-tipps-div {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Palanquin';
    color: var(--yellow);
}
.section-eight > p{
    font-family: 'Arima';
    font-size: 24px;
    font-weight: 500;
}
.share-div a{
    font-family: 'Arima';
    font-size: 24px;
    font-weight: bold;
    color: var(--yellow);
}

/* Gestaltung des Mains */

main {
    padding: 80px 120px;
}

.container{
    display: flex;
    gap: 25px;
}
.sub-container{
    flex: 3;
    padding-bottom: 20px;
}
.sub-container h1{
    line-height: 1.1;
}
.sub-container p{
    line-height: 1.4;
}

.section-three,
.section-four,
.section-five,
.section-six,
.section-seven,
.section-eight{
    line-height: 1.4;
}
.author-div{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;

    background-color: var(--light-green);
    border-radius: 30px;

    height: fit-content;
}
.author-div h3 {
    text-align: center;
}

.meta-info-ul {
    display: flex;
    gap: 30px;
}

.meta-info-ul li {
    display: flex;
    gap: 5px;
    align-items: center;
}

.text-ul {
    list-style-type: disc;
    padding-left: 30px
}

li::marker {
    font-size: 10px;
}

video {
    border-radius: 40px;
}

figure {
    padding: 90px 0px;
    display: flex;
    justify-content: center;
}

.tipps-list li::marker {
    font-size: 24px;
}

.section-seven {
    padding-left: 85px;
    padding-right: 35px;
}

.tile-tipps-div {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    position: absolute;
    top: -55px;
    left: 10px;
    background-color: var(--dark-green);
    color: var(--yellow);
    transform: rotate(-20deg);
}

.section-seven {
    position: relative;
}

.tipps-div {
    background-color: var(--light-green);
    border-radius: 30px;
    padding: 20px 16px;
}
.useful-link{
    color: var(--dark-green);
    font-weight: bold;
}
.share-div{
    background-color: var(--dark-green);
    border-radius: 30px;
    padding: 10px 24px;

    display: flex;
    gap: 10px;
    align-items: center;
}
.share-div:hover{
    cursor: pointer;
}
.section-eight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
    padding-right: 350px;
    padding-left: 350px;
}

/* Gestaltung der Abstände der Sektionen*/

.container {
    margin-bottom: 70px;
}

.section-one{
    margin-bottom: 40px;
}
.section-four,
.section-five {
    margin-bottom: 30px;
}

.section-six {
    margin-bottom: 150px;
}
.section-seven {
    margin-bottom: 90px;
}
.section-eight > p{
    position: relative;
}
.share-pfeil-icon{
    position: absolute;
    left: -45px;
    bottom: -75px;
}
